:host {
    display: inline-block;
    max-width: 130px;
    margin: 10px;
    text-align: center;
}

.health {
    background-color: hsl(0, 100%, 50%);
    height: 10px;
    div {
        background-color: hsl(120, 100%, 25%);
        height: 100%;
    }
}

.property {
    display: inline-block;
    font-size: 10px;
    margin: 4px;
    color: hsl(0, 0%, 50%);

    &.active {
        color: hsl(0, 0%, 100%);
    }
}
