:host {
    display: inline-block;
    max-width: 130px;
    text-align: center;
    margin: 10px;
}

.images {
    position: relative;
    img {
        max-width: 100%;
    }

    .pilot {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 30%;
    }
}

.health {
    background-color: red;
    height: 10px;
    div {
        background-color: green;
        height: 100%;
    }
}

.property {
    display: inline-block;
    font-size: 0.875rem;
    margin: 4px;
    color: grey;

    &.active {
        color: white;
    }
}
